
<div class="col-sm-12">

    <button data-toggle="modal" style="width:200px" data-placement="top" title="Edit Data Pegawai" data-target="#add"
    class="btn btn-info btn-block btn-lg" href=""><span class="fa fa-pencil"></span> Input Data Pegawai</button>
    <br>
    
    <table class="table datatable">
        <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>NIK</th>
                <th>KP Terakhir</th>
                <th>KP Selanjutnya</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            
            {% for peg in pegawais %}
                <tr 
                {% if counter[(loop.index)-1] > 7 %} 
                    class="info"
                    {% elif counter[(loop.index-1)] > 1 and counter[(loop.index)-1] < 7 %}
                    class="warning"
                    {% else %}
                    class="danger"
                {% endif %}
                >
                    <td>{{loop.index}}</td>
                    <td>{{peg['nama']}}</td>
                    <td>{{peg['nip']}}</td>
                    <td>{{peg['kp_terakhir']}}</td>
                    <td>{{peg['kp_berikut']}}</td>
                    <td><button data-toggle="modal" data-placement="top" title="Edit Data Pegawai" data-target="#edit{{loop.index}}"
                        class="btn btn-sm btn-warning btn-rounded" href="">&nbsp;&nbsp;<i class="fa fa-edit"></i></button>
                        <button data-toggle="modal" data-placement="top" title="Hapus Data Pegawai" data-target="#delete{{loop.index}}"
                        class="btn btn-sm btn-danger btn-rounded" href="">&nbsp;&nbsp;<i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="modal" id="add" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Tambah Data Pegawai</h4>
            </div>

            <form method="post" class="form-horizontal" action="{{url_for('create')}}">

            <div class="modal-body">
    
                Nama:<br>
                <input type="text" class="form-control" name="nama">
                <br>
                NIP:<br>
                <input type="text" class="form-control" name="nip">
                <br>
                KP Terakhir:<br>
                <input type="date" class="form-control" name="kp_terakhir">
                <br>
                KP Berikut:<br>
                <input type="date" class="form-control" name="kp_berikut">
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-info" >Submit</button>
            </div>
            </form>

        </div>
    </div>
</div>

{% for peg in pegawais %}
<div class="modal" id="edit{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Edit Data Pegawai</h4>
            </div>

            <form method="post" class="form-horizontal" action="{{ url_for('edit', id=peg['id']) }}">

            <div class="modal-body">
                <input type="hidden" class="form-control" name="edit_id" value="{{peg['id']}}">
                Nama:<br>
                <input type="text" class="form-control" name="edit_nama" value="{{peg['nama']}}">
                <br>
                NIP:<br>
                <input type="text" class="form-control" name="edit_nip" value="{{peg['nip']}}">
                <br>
                KP Terakhir:<br>
                <input type="date" class="form-control" name="edit_kp_terakhir" value="{{peg['kp_terakhir']}}">
                <br>
                KP Berikut:<br>
                <input type="date" class="form-control" name="edit_kp_berikut" value="{{peg['kp_berikut']}}">
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-warning" >Update</button>
            </div>
            </form>

        </div>
    </div>
</div>

<div class="modal" id="delete{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="largeModalHead" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="largeModalHead">Hapus Data Pegawai</h4>
            </div>

            <form method="post" class="form-horizontal" action="{{ url_for('delete', id=peg['id']) }}">

            <div class="modal-body">
                <input type="hidden" class="form-control" name="hapus_id" value="{{peg['id']}}" disabled>
                Nama:<br>
                <input type="text" class="form-control" name="hapus_nama" value="{{peg['nama']}}" disabled>
                <br>
                NIP:<br>
                <input type="text" class="form-control" name="hapus_nip" value="{{peg['nip']}}" disabled>
                <br>
                KP Terakhir:<br>
                <input type="date" class="form-control" name="hapus_kp_terakhir" value="{{peg['kp_terakhir']}}" disabled>
                <br>
                KP Berikut:<br>
                <input type="date" class="form-control" name="hapus_kp_berikut" value="{{peg['kp_berikut']}}" disabled>
                <br>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Batal</button>
                <button type="submit" class="btn btn-danger" >Hapus</button>
            </div>
            </form>

        </div>
    </div>
</div>
{% endfor %}