<!-- START PAGE SIDEBAR -->
<div class="page-sidebar">
    <!-- START X-NAVIGATION -->
    <ul class="x-navigation">
        <li class="xn-logo">
            <a href="/">Admin</a>
            <a href="#" class="x-navigation-control"></a>
        </li>                                                                      
        <li class="xn-title">Navigation</li>
        <li>
            <a href="/"><span class="fa fa-users"></span> <span class="xn-text">Data KP</span></a>
        </li>  
        <li>
            <a href="/admin"><span class="fa fa-file"></span> <span class="xn-text">Data Admin</span></a>
        </li>                                       
    </ul>
    <!-- END X-NAVIGATION -->
</div>
<!-- END PAGE SIDEBAR -->